<div class="container pt-3">
  <h1>Ask a question?</h1>

  <form action="/answer" method="get" data-turbo="false">
    <div class="input-group mt-4">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class= 'btn btn-primary'>
    </div>
  </form>
</div>
